* { margin: 0px;
	padding: 0px;
	font-size: 11px;
  }
	
table {	border-collapse:collapse;
		border-spacing: 0px;
	   }
	
form { padding-bottom: 25px; }

td { padding-top: 5px; }
	
.submit { margin-top: 10px;
	 	  margin-bottom: 10px;
		}

td[name="experiment"] { padding-left: 10px; padding-right: 10px; }
